<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <nav class="menu">
    <ul>
      <li><a href="/">Главная</a></li>
    </ul>
  </nav>
  <h1>Войти</h1>
  <a>Войдите в систему, чтобы быть в системе авторизованым))<a>
      <form action="/api/authorization" method="post">
        <label>Email </label>
        <input type="text" name="email">
        <br />
        <label>Пароль </label>
        <input type="password" name="password">
        <button type="submit">Войти</button>
        </div>

</body>

</html>